body {
  color: white;
  font-family: "Ubuntu", sans-serif;
  background-image: url("1.jpg");
  background-position: center;
}
.navbar {
  position: fixed;
  top: 2px;
  width: 100%;
}
.left {
  border: 0;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
}
.left img {
  width: 50px;
  border: 0px;
  border-radius: 6px;
}
.mid {
  display: block;
  width: 35%;
  height: 50px;
  margin: 10px auto;
  border: 0px;
}
.right {
  border: 0px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}
ul li {
  list-style: none;
  display: inline;
}
ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 20px;
}
ul li a:hover {
  text-decoration: wavy;
  color: rgb(107, 102, 102);
}
.btn {
  display: inline-block;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 5px 20px;
  margin: 2px;
}
.btn:hover {
  background: grey;
  color: black;
  font-size: 16px;
}
.container2 {
  border: 2px solid white;
  border-radius: 6px;
  display: block;
  width: 25%;
  margin: 155px 100px;
}
.container2 h4 {
  text-align: center;
  font-size: 35px;
}
form input {
  color: white;
  display: block;
  border: 1px solid white;
  border-radius: 6px;
  padding: 2px 10px;
  margin: 20px auto;
  background: white;
}
.submitformbtn {
  display: block;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 5px 20px;
  margin: 40px auto;
}
.submitformbtn:hover {
  background: grey;
  color: black;
}
